@font-face {
  font-family: "roboto";
  src: url("./roboto-flex.woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-size: clamp(1rem, 0.5rem + 1.8vh, 3rem);

  --border: 3px solid;

  --caribbean-current: #006466ff;
  --midnight-green-2: #144552ff;
  --palatinate: #4d194dff;
  --whitesmoke: #f5f5f5;
  --black: #161a1d;
  --green: #16a34a;
  --blue: #0284c7;
  --red: #db2726;
  --amber: #f59e0b;
  --slate: #475569;

  --image-size: 2.5rem;
  --bg-img: linear-gradient(
    var(--midnight-green-2),
    var(--caribbean-current),
    var(--midnight-green-2)
  );
  --svg-color-white: invert(100%) sepia(100%) saturate(1%) hue-rotate(188deg)
    brightness(111%) contrast(101%);

  --svg-color-green: invert(39%) sepia(99%) saturate(1996%) hue-rotate(118deg)
    brightness(94%) contrast(83%);

  --svg-color-blue: invert(31%) sepia(68%) saturate(2178%) hue-rotate(179deg)
    brightness(95%) contrast(98%);

  --svg-color-amber: invert(72%) sepia(65%) saturate(2866%) hue-rotate(356deg)
    brightness(98%) contrast(96%);

  --svg-color-red: invert(34%) sepia(98%) saturate(4352%) hue-rotate(344deg)
    brightness(85%) contrast(102%);

  --svg-color-slate: invert(30%) sepia(14%) saturate(878%) hue-rotate(176deg)
    brightness(96%) contrast(86%);

  --svg-color-black: invert(5%) sepia(4%) saturate(3323%) hue-rotate(164deg)
    brightness(93%) contrast(89%);
}

body {
  background-image: var(--bg-img);
  color: var(--whitesmoke);
  height: 100vh;
  width: clamp();
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.1rem;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  color: var(--whitesmoke);
  background-color: var(--black);
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
}

dialog textarea {
  resize: none;
}

input,
button {
  font: inherit;
  border-radius: 5px;
  outline: none;
  border: var(--border);
  border-color: transparent;
}

.offScreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

button > img {
  float: left;
  width: var(--image-size);
  height: var(--image-size);
  pointer-events: none;
  filter: var(--svg-color-white);
  transition: transform 0.25s;
}

button {
  display: inline-block;
  background: transparent;
  cursor: pointer;
}

button:hover img,
button:focus-within img {
  transform: scale(1.2);
}

button:focus-within {
  border-color: var(--whitesmoke);
}

.toDoApp {
  display: flex;
  gap: 5rem;
  min-width: 1024px;
}

.myLists {
  width: 40%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
}

.listContainer {
  height: 60vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 0.5rem;
}
.listContainer div[data-list-id] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--black);
  gap: 0.2rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: var(--border);
  border-color: transparent;
}

.listContainer .listName {
  padding-right: 1.5rem;
  width: 30ch;
  cursor: pointer;
}

.listContainer div[data-list-id]:has(.listName:hover) {
  border-color: var(--whitesmoke);
}

div[data-list-id]:has(.selected) {
  font-weight: 600;
  letter-spacing: 0.05ch;
  border-color: var(--whitesmoke);
}

.toDoList {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.addListContainer form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.addListContainer input {
  height: 2.5rem;
  width: 32ch;
}

.addListContainer .addBtn {
  background-color: var(--green);
}

.addListContainer .addBtn:hover {
  background-color: var(--whitesmoke);
  border: var(--border);
  border-color: var(--green);
}

.addListContainer button:hover img {
  filter: var(--svg-color-green);
}

.listContainer .deleteBtn:hover img,
.listContainer .deleteBtn:focus-within img {
  filter: var(--svg-color-red);
}

.addTaskContainer > .addBtn {
  display: flex;
  align-items: center;
  background-color: var(--green);
  color: var(--whitesmoke);
  font: inherit;
  padding: 0 0.5em;
  margin: 2rem auto 1rem;
  transition: 0.25s;
  font-weight: 600;
}

.addTaskContainer > .addBtn:hover {
  transform: scale(1.15);
  color: var(--green);
  background-color: var(--whitesmoke);
  border-color: var(--green);
}

.addTaskContainer > .addBtn:hover img {
  filter: var(--svg-color-green);
}

.addTaskContainer > .addBtn[disabled] {
  pointer-events: none;
  background-color: var(--caribbean-current);
}

#toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
  height: 60vh;
  width: 90%;
  margin: 0 auto;
}

.toDoList > h2 {
  border-bottom: var(--border);
  border-color: var(--black);
}

div[data-task-id] {
  display: flex;
  justify-content: space-between;
  width: 40ch;
  background-color: var(--whitesmoke);
  color: var(--black);
  padding-left: 1rem;
  border-radius: 5px;
}

div[data-task-id] > p {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
  border-bottom: var(--border);
  margin-bottom: 1rem;
  border-color: transparent;
}

div[data-task-id] > p > label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div[data-task-id] > p input {
  width: 1.5rem;
  height: 1.5rem;
}

div[data-task-id] > p input:hover,
div[data-task-id] > p input:focus-within {
  outline: var(--blue) solid 3px;
}

div[data-task-id] > p .dueDate {
  font-size: 1rem;
  position: absolute;
  right: 2rem;
}

div[data-task-id] > p.completed {
  text-decoration: line-through 4px var(--black);
}

div > p[data-task-priority="normal"] {
  border-color: var(--blue);
}

p[data-task-priority="normal"] .tagImg {
  filter: var(--svg-color-blue);
}

div > p[data-task-priority="important"] {
  border-color: var(--red);
}

p[data-task-priority="important"] .tagImg {
  filter: var(--svg-color-red);
}

div > p[data-task-priority="low"] {
  border-color: var(--slate);
}

p[data-task-priority="low"] .tagImg {
  filter: var(--svg-color-slate);
}

.tagImg {
  height: 1rem;
  width: 1rem;
}

.moreBtn > img {
  height: 2rem;
  width: 2rem;
  filter: var(--svg-color-black);
}

.moreBtn:focus-within {
  border-color: var(--black);
}

.dropdownMore {
  margin: auto 0;
  display: inline-block;
  position: relative;
}

.btnContainer {
  display: none;
  top: 2.375rem;
  right: 0.75rem;
  position: absolute;
  background-color: var(--black);
  min-width: 6rem;
  box-shadow: 0 2px 3px 0 var(--slate);
  z-index: 1;
  border-radius: 5px;
}

.show {
  display: grid;
  gap: 0.4rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0.4rem;
}

.btnContainer > button {
  background-color: var(--whitesmoke);
}

.btnContainer > .deleteBtn > img {
  filter: var(--svg-color-red);
}

.btnContainer > .addBtn > img {
  filter: var(--svg-color-green);
}

.btnContainer > .openBtn > img {
  filter: var(--svg-color-amber);
}

.btnContainer > .editBtn > img {
  filter: var(--svg-color-blue);
}

.btnContainer > button:hover img {
  filter: var(--svg-color-white);
}

.btnContainer > .deleteBtn:hover {
  background-color: var(--red);
}

.btnContainer > .addBtn:hover {
  background-color: var(--green);
}

.btnContainer > .openBtn:hover {
  background-color: var(--amber);
}

.btnContainer > .editBtn:hover {
  background-color: var(--blue);
}

/*-- Dialogs ------------------------------------------ */

#renameListDlg {
  height: 140px;
  width: 400px;
}

#renameListDlg input {
  display: block;
  margin: 1rem auto;
}

.renameBtn,
.cancelBtn,
.yesBtn,
.noBtn,
.closeBtn {
  border-radius: 50%;
}

#renameListDlg .cancelBtn {
  margin-left: 220px;
}
.renameBtn {
  margin-left: 20px;
}

.renameBtn img,
.yesBtn img {
  filter: var(--svg-color-green);
}

.cancelBtn img,
.noBtn img,
.closeBtn img {
  filter: var(--svg-color-red);
}

dialog button:hover img {
  filter: var(--svg-color-white);
}

.renameBtn:hover,
.yesBtn:hover {
  background-color: var(--green);
}

.cancelBtn:hover,
.noBtn:hover,
.closeBtn:hover {
  background-color: var(--red);
}

#deleteListDlg {
  height: 250px;
  width: 550px;
}

p.deleteListTitle {
  width: 100%;
  padding: 1rem 1rem;
}

p.deleteWarning {
  padding: 0 1rem 2rem;
}

.noBtn {
  margin-left: 350px;
}

.yesBtn {
  margin-left: 1rem;
}

#addTaskDlg,
#editTaskDlg,
#viewTaskDlg {
  padding: 1.5rem;
  width: 420px;
  height: 600px;
}

#addTaskDlg input:not([type="date"]),
#editTaskDlg input:not([type="date"]),
#addTaskDlg textarea,
#editTaskDlg textarea {
  width: 100%;
}

dialog input,
dialog textarea,
dialog select {
  margin-bottom: 1rem;
  font: inherit;
}

dialog textarea {
  height: 100px;
}

dialog .addBtn {
  background-color: var(--green);
  padding: 0.5rem 2em;
  font-weight: 700;
  color: var(--whitesmoke);
}

dialog .addBtn:hover {
  color: var(--green);
  background-color: var(--whitesmoke);
  border-color: var(--green);
}

#addTaskDlg .closeBtn {
  margin-left: 340px;
}

#addTaskDlg .addBtn {
  display: block;
  margin: 0 auto;
}

#editTaskDlg {
  height: 550px;
}

#editTaskDlg .cancelBtn {
  margin-left: 230px;
}

#editTaskDlg button {
  margin-top: 20px;
}

#subtaskDlg {
  padding: 1rem;
}

#subtaskDlg .closeBtn {
  margin-left: 250px;
}

#subtaskDlg .addBtn {
  width: 100%;
}

#subtaskDlg .addBtn:hover img {
  filter: var(--svg-color-green);
}

#viewTaskDlg .closeBtn {
  border-color: transparent;
  margin-left: 320px;
}

#viewTaskDlg p {
  width: 100%;
  margin-bottom: 1rem;
}

.subtasksContainer ul {
  overflow: auto;
}

li {
  list-style-type: none;
}

#subtasks label > span {
  margin-left: 1rem;
}
